{% extends "organization/about.html" %}

{% if group_dict is not defined%}
    {% set group_dict = c.group_dict %}
{% endif %}


{% block primary_content_inner %}
<dl>
  {% for f in c.scheming_fields %}
    <dt>{{ h.scheming_language_text(f.label) }}:</dt>
    <dd>
      {# Let scheming choose the right display_snippet (link.html, markdown, etc.) #}
      {% snippet 'scheming/snippets/display_field.html',
         field=f,
         data=group_dict %}
    </dd>
    <dd> {{ ("&nbsp;"|safe) }} </dd>
  {% endfor %}
</dl>
{% endblock %}
