{% ckan_extends %}

{%- set field = {'form_snippet': 'related_entity.html', 'display_snippet': 'related_entity.html', 'validators': 'relationship_related_entity', 'field_name': 'related_dataset', 'label': 'Related Dataset', 'preset': 'related_entity', 'current_entity': 'package', 'current_entity_type': 'molecule', 'related_entity': 'package', 'related_entity_type': 'dataset', 'relation_type': 'related_to', 'multiple': True, 'updatable_only': False, 'required': False} -%}
{% set dataset_list = h.relationship_get_current_relations_list(field=package, data=field) %}

{% block heading_title %}
 {{ super() }}
     {% if package.type == 'molecule' %}
      <span class="label label-warning" style="font-size:12cd /usr/px;"> Molecule </span>
   {% elif package.type == 'study' %}
      <span class="label label-info" style="font-size:12px;"> Study </span>
   {% else %}
      <span class="label label-default" style="font-size:12px;"> Dataset </span>
   {% endif %}

{% endblock %}


{% block notes %}
    {% if package.type == 'molecule' %}
    {% set return_img = h.footer(package_inchiKey = package.inchi_key, page = package) %}

<div>
            {{  h.snippet('snippets/ckanext_footer_package_search_result_image.html', return_value = return_img, imageName = package.inchi_key,
            package = package.id, molecule_formula = package.mol_formula, exact_mass = package.exact_mass, inchi=package.inchi, iupac_name=None,
        molecule_name= None ) }}

    <h5> Related Dataset(s)</h5>
    <ul>

    {% for d_list in dataset_list %}
        {% set dataset_dict = h.relationship_get_dataset_dict_from_dataset_id(d_list) %}

        <li>
            {{ h.link_to(
                dataset_dict['title'],
                h.url_for('%s.read' % 'dataset', id=d_list)
            ) }}
        </li>
    {% endfor %}
    </ul>

</div>
    {% else %}
    {{ super() }}
{% endif %}

{% endblock %}

{% block resources %}
        {% if package.resources and not hide_resources %}
          {% block resources_outer %}
            <ul class="dataset-resources list-unstyled">
              {% block resources_inner %}
                {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                <li>
                  <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="label label-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
                </li>
                {% endfor %}

                {# To display measurement Technique below the dataset #}

                {% if package.measurement_technique %}
                    {% if not package.measurement_technique.startswith('{') %}
                        <li>
                            <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="label label-default" style="background-color:#C77241"> {{ package.measurement_technique }}</a>
                        </li>
                    {% endif %}
                {% endif %}
              {% endblock %}
            </ul>
          {% endblock %}
        {% endif %}
{% endblock %}

