{% ckan_extends %}

{% block heading_title %}
 {{ super() }}
     {% if package.type == 'molecule' %}
      <span class="label label-warning" style="font-size:12cd /usr/px;"> Molecule </span>
   {% elif package.type == 'study' %}
      <span class="label label-info" style="font-size:12px;"> Study </span>
   {% else %}
      <span class="label label-default" style="font-size:12px;"> Dataset </span>
   {% endif %}

{% endblock %}


{% block resources %}
        {% if package.resources and not hide_resources %}
          {% block resources_outer %}
            <ul class="dataset-resources list-unstyled">
              {% block resources_inner %}
                {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                <li>
                  <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="label label-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
                </li>
                {% endfor %}

                {% if package.measurement_technique %}
                    {% if not package.measurement_technique.startswith('{') %}
                        <li>
                            <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="label label-default" style="background-color:#C77241"> {{ package.measurement_technique }}</a>
                        </li>
                    {% endif %}
                {% endif %}
              {% endblock %}
            </ul>
          {% endblock %}
        {% endif %}
{% endblock %}

