
{% set display_label = data['measurement_technique']  %}
{% set curie = data['measurement_technique_iri'] %}

{% asset 'ckanext-scheming/tooltip_hover_css' %}

<script type="text/javascript">
   $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();  // Make sure this matches exactly
            console.log('works')
        });
</script>


<!--only if purl_iri is available, it will generate information and ts-links-->

{% if curie %}
    {% set label, description_sentence, ts_url, definded_to,short_form = h.scheming_link_ts(curie) %}
{% endif %}


<!-- Initial hover information -->
{% set hoverInfo =  "<b>Label: </b> "  ~ display_label ~ "<br><b>Description: </b> " ~ description_sentence ~ "<br><b>CURIE: </b>" ~
"<span class='curie'>" ~ short_form ~ "</span>" ~ "<br><b>defined_in :  </b>"  ~ "<span class='defined-in'>" ~ definded_to ~ "</span>" %}

{{ h.link_to(display_label, ts_url, rel=field.display_property, target='_blank', data_toggle="tooltip", data_html="true", title=hoverInfo) }}

