
{% set display_label = data['measurement_technique']  %}
{% set curie = data['measurement_technique_iri'] %}


<script type="text/javascript">
   $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();  // Make sure this matches exactly
        });
</script>

<style>
    .tooltip-inner {
    max-width: 500px; /* Corrected maximum width */
    width: 300px; /* Corrected fixed width */
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    border-radius: 6px; /* Rounded corners */
    padding: 5px 10px; /* Padding inside the tooltip */
    font-size: 14px; /* Font size */
    text-align: left; /* Align text to the left */
}

.tooltip {
    word-wrap: break-word; /* Ensure long words break */
}

/* Additional CSS to correctly position the tooltip */
.tooltip.show {
    opacity: 1; /* Ensure tooltip is fully opaque when shown */
}

/* Positioning the tooltip - adjust if tooltip position is not correct */
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    bottom: 0;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .tooltip-inner, .tooltip.bs-tooltip-top .tooltip-inner {
    margin-bottom: 5px; /* Give some space between arrow and tooltip content */
}

.curie {
background-color: #873593 !important;
boarder-color: #873593 !important;
color: white !important;
padding : 3px !important;
}

.defined-in {
background-color: #0e6668 !important;
boarder-color: #0e6668 !important;
color: white !important;
padding : 3px !important;
}

</style>

<!--only if purl_iri is available, it will generate information and ts-links-->

{% if curie %}
    {% set label, description_sentence, ts_url, definded_to,short_form = h.scheming_link_ts(curie) %}
{% endif %}


<!-- Initial hover information -->
{% set hoverInfo =  "<b>Label: </b> "  ~ display_label ~ "<br><b>Description: </b> " ~ description_sentence ~ "<br><b>CURIE: </b>" ~
"<span class='curie'>" ~ curie ~ "</span>" ~ "<br><b>defined_in :  </b>"  ~ "<span class='defined-in'>" ~ definded_to ~ "</span>" %}

{{ h.link_to(display_label, ts_url, rel=field.display_property, target='_blank', data_toggle="tooltip", data_html="true", title=hoverInfo) }}

